@import "./../../variables.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Mono", monospace;
  .modal-main {
    position: fixed;
    background: #e3e5e7;
    width: 40%;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;

    button {
      position: absolute;
      right: 0;
      margin: 15px;
      padding: 10px 15px;
      border: none;
      background-color: #e3e5e7;
      font-size: 25px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background-color: #c2c5c7;
        border-radius: 5px;
      }
    }
    .text {
      height: 150px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        width: 65%;
        text-align: center;
        margin-top: 20px;
        color: rgb(95, 93, 93);
        font-size: 14px;
      }
    }
    .cards {
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 260px;
        width: 260px;
        color: rgb(95, 93, 93);
        border: 1px solid rgb(221, 216, 216);
        border-radius: 20px;
        box-shadow: 0 20px 20px 0 #e9ebf0;
        margin-bottom: 40px;
        h4 {
          margin-top: 15px;
        }
        &:hover {
          height: 270px;
          width: 270px;
          background-color: #e7e9eb;
          border-radius: 20px;
          border: 1px solid rgb(168, 230, 168);
          box-shadow: 0px 5px 15px 0px rgba(180, 180, 180, 0.75);
          transition: all 0.2s ease;
          // transform: scale(1.1, 1.1);
        }
      }
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
